@import '~@blueprintjs/core/src/common/variables';

@import '../styles/main';
// @import '../styles/blueprint-overrides';

#seenit-container {
  margin: 0;
  min-width: 400px;

  .content-container {
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .navigation-container {
    padding-top: $pt-navbar-height;

    a {
      color: inherit;
    }

    a:active,
    a:focus,
    a:hover {
      text-decoration: none;
      outline: 0;
    }
  }
}
