@import '~@blueprintjs/core/lib/scss/variables';

$primary-color: darkblue;
$background-color: #fefefe;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0;
  min-width: 400px;
}

.content-container {
  align-items: center;
  background-color: $background-color;
  color: $primary-color;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
}

.navigation-container {
  padding-top: $pt-navbar-height;

  a {
    color: inherit;
  }

  a:active,
  a:focus,
  a:hover {
    text-decoration: none;
    outline: 0;
  }
}

$spacing-unit: 0.5em;

.sp-x {
  padding: 0 $spacing-unit;
}

.sp-y {
  padding: $spacing-unit 0;
}
