@import '~@blueprintjs/core/src/blueprint';

@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';

.seenit-logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;

  .logo-eyes {
    display: inline-flex;
    font-size: 15px;
    margin-top: -2px;
    transform: rotateY(180deg);
  }
}

.select-popover-centered {
  position: relative;

  .bp3-transition-container,
  .bp3-select-popover {
    width: 100%;
  }
}

.bp3-progress-bar {
  &--custom {
    height: 4px;

    .bp3-progress-meter {
      transition: auto;
    }
  }
}

.flex {
  display: flex;

  &-between {
    justify-content: space-between;
  }

  &-end {
    justify-content: flex-end;
  }

  &-direction-column {
    flex-direction: column;
  }

  &-align-items-center {
    align-items: center;
  }
}

$baseSize: 4px;
$sizes: (
  '0': 0,
  '1': $baseSize * 1,
  '2': $baseSize * 2,
  '3': $baseSize * 4,
  '4': $baseSize * 8,
) !default;

$spacings: (
  'm': 'margin',
  'p': 'padding',
);

$directions: (
  'y': (
    'top',
    'bottom',
  ),
  'x': (
    'left',
    'right',
  ),
  't': (
    'top',
  ),
  'r': (
    'right',
  ),
  'b': (
    'bottom',
  ),
  'l': (
    'left',
  ),
);

@each $shorthand, $property in $spacings {
  .#{$shorthand} {
    @each $size, $value in $sizes {
      &-#{$size} {
        #{$property}: $value;
      }
    }

    @each $direction, $modifiers in $directions {
      &#{$direction} {
        @each $size, $value in $sizes {
          &-#{$size} {
            @each $modifier in $modifiers {
              #{$property}-#{$modifier}: $value;
            }
          }
        }
      }
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
