@import '~@blueprintjs/core/src/common/variables';

#seenit-container {
  @import '../styles/main';
  @import '../styles/blueprint-overrides';

  .notification-layout,
  .dialog-layout {
    position: fixed;
    bottom: 5vmin;
    right: 5vmin;
    z-index: 999999999;
  }

  .dialog-layout {
    width: 320px;
    min-height: 400px;
    background: white;
    color: black;
    border: 1px solid rgba($black, 0.25);
    padding: 24px 12px 12px;
    box-shadow: 0 0 4px 1px rgba($dark-gray2, 0.25);
  }

  .notification-layout {
    .card-notification {
      $padding: 8px;

      // TODO: can overflow really be shown? Done so to make popovers breakout and be shown fully
      // overflow: hidden;
      position: relative;
      padding: $padding;
      // TODO: investigate whether this is fine - mainly meant for stopping title from expanding further and must consider tracking size which has a min size of 400
      max-width: 600px;

      &--auto-hide {
        // Add to bottom padding height of progressbar
        padding: $padding $padding $padding + $progress-bar-height;
      }
    }

    .card-intent-primary,
    .card-intent-success,
    .card-intent-warning,
    .card-intent-danger {
      color: $pt-dark-text-color;
    }

    .card-intent-primary {
      background-color: $pt-intent-primary;
    }
    .card-intent-success {
      background-color: $pt-intent-success;
    }
    .card-intent-warning {
      background-color: $pt-intent-warning;
    }
    .card-intent-danger {
      background-color: $pt-intent-danger;
    }

    .bp3-intent-danger .bp3-progress-meter {
      background-color: darken($pt-intent-danger, 20%);
    }
    .bp3-intent-warning .bp3-progress-meter {
      background-color: darken($pt-intent-warning, 20%);
    }
    .bp3-intent-success .bp3-progress-meter {
      background-color: darken($pt-intent-success, 20%);
    }

    .bp3-text-muted {
      color: rgba($pt-dark-text-color, 0.7);
    }

    .card-intent-danger,
    .card-intent-warning,
    .card-intent-success {
      .bp3-icon,
      .bp3-button {
        color: rgba($pt-dark-text-color, 0.7);

        &:active,
        &:hover {
          color: $pt-dark-text-color;
        }
      }
    }

    .card-progressbar {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0;
    }
  }

  // TODO: figure out a better way to override card search suggestion overflow
  .bp3-popover-wrapper .bp3-transition-container {
    width: 100%;

    .bp3-select-popover {
      width: 100%;
    }
  }
}

.seen-rating {
  min-height: $pt-button-height-small;
  display: inline-flex !important;
  align-items: center;
}

// Minimum size when not much content present (error, not found), search dropdown does not expand the size and depends on min size
.track-card-notification {
  min-width: 400px;
  min-height: 400px;
}
